body {
    background: #484748;
}

hr {
    background-color: #c7c6c68f;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
}


.navbar {
    margin-bottom: -55px;
    background: #484748;
}

.nav-link {
    color: #c7c6c6;
    letter-spacing: 0.2rem;
}

.nav-link:hover {
    color: #E25050;

}

nav.scrolled {
    background: #484748;
  }

.snipcart-checkout, snipcart-customer-signin {
    color: #E25050;
    border-color: #E25050;
    margin-top: 1rem;
    background-color: rgba(255, 248, 220, 0);
}

.jumbotron {
    height: 100vh;
    background-image: url(images/P1A1574.jpg);
    background-size: cover; 
    background-attachment: fixed;
    }



.vertical{
    margin-top:50%;
    }

.display-5 {
    color: #c7c6c6;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 1rem;
}

.display-4 {
    color: #484748;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;

}

.display-3 {
    color: #E25050;
    font-size: 1rem;
    letter-spacing: 0.25rem;

}

.display-2 {
    color: #484748;
    font-size: 1rem;
    letter-spacing: 0.25rem;

}

.icons {
    color: #484748;
    font-size: 6rem;
    padding: 1rem;
    border: solid 1px;
}

.btn {
    color: #E25050;
    border-color: #E25050;
    margin-top: 1rem;
}

.btn:hover {
    background-color: rgba(226, 80, 80, 0.521) ;
    color: #c7c6c6;
    border-color: #E25050;
    margin-top: 1rem;

}

p {
    color: #c7c6c6;
    letter-spacing: 0.2rem;
}








/* SNIPCART */

